doctype html
html(lang="en")
  head
    title= "Mouse server"
    script(src='js/mouse-script.js')
    script(src='/socket.io/socket.io.js')
    link(rel='stylesheet', href='/css/style.css')
  body
    h1 Mouse server using Socket.io
